# {{ ansible_managed }}

dir {{ runtime_dir }}/redisraft-{{ item['port'] }}
save ""
appendonly no
supervised auto
port {{ item['port'] }}
protected-mode no
dbfilename redis.rdb
loadmodule {{ install_dir }}/lib/redisraft.so addr {{ private_ip }}:{{ item['port'] }} sharding-start-hslot {{ item['start_hslot'] }} sharding-end-hslot {{ item['end_hslot'] }} sharding yes
