[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv
[submodule "deps/hiredis"]
	path = deps/hiredis
	url = https://github.com/yossigo/hiredis
[submodule "deps/raft"]
	path = deps/raft
	url = https://github.com/willemt/raft
