[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv
[submodule "deps/hiredis"]
	path = deps/hiredis
	url = https://github.com/redis/hiredis
[submodule "deps/raft"]
	path = deps/raft
	url = https://github.com/sjpotter/raft
[submodule "deps/cmocka"]
	path = deps/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
