**/*.o
**/*.gcda
**/*.gcno
tests/tests_main
**/__pycache__
**/*.swp
.build/
core.*
*.so
**/dump.rdb
cscope.*out
tests/lcov.info
*.rdb
.env/
.vscode/
jepsen/docker/dist/
jepsen/docker/secret/
jepsen/docker/control/jepsen/
