**/*.o
**/*.gcda
**/*.gcno
tests/tests_main
tests/tmp/
**/__pycache__
**/*.swp
.build/
core.*
*.so
**/dump.rdb
cscope.*out
tests/lcov.info
*.rdb
.env/
.vscode/
.ccls*
jepsen/docker/secret/
.idea/
*.dbx
*.log
*.db
*.idx
CMakeLists.txt
cmake-build-debug
