**/*.o
**/*.gcda
**/*.gcno
tests/tests_main
tests/tmp/
**/__pycache__
**/*.swp
.build/
core.*
*.so
**/dump.rdb
cscope.*out
tests/lcov.info
*.rdb
.env/
.vscode/
.ccls*
jepsen/docker/secret/
.idea/
*.dbx
*.log
*.db
*.idx
cmake-build*
utils/create-cluster/*.log
utils/create-cluster/*.db
utils/create-cluster/*.db.idx
venv
buildinfo.h
build/*
jepsen/docker/store/*
tests/tls/*
