name: CI

on: [push, pull_request]

jobs:
  build-ubuntu:
    strategy:
      matrix:
        platform: [ubuntu-latest, ubuntu-16.04]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      shell: bash
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
    - name: Install build dependencies
      run: sudo apt-get install -y build-essential autoconf automake libtool cmake libbsd-dev lcov
    - name: Build
      run: make
    - name: Checkout Redis
      uses: actions/checkout@v2
      with:
        repository: 'antirez/redis'
        ref: 'unstable'
        path: 'redis'
    - name: Build Redis
      run: cd redis && make
    - name: Setup Python for testing
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
        architecture: 'x64'
    - name: Install Python dependencies
      run:
        python -m pip install -r tests/integration/requirements.txt
    - name: Run tests
      run:
          PATH=$PWD/redis/src:${PATH} make tests
