name: Daily

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      skipjobs:
        description: 'jobs to skip (delete the ones you want to keep, do not leave empty)'
        required: false
        default: 'address,undefined,macos,tls,elle,alpine,slow'
      redisraft_repo:
        description: 'redisraft repo owner and name'
        required: false
        default: 'redisLabs/redisraft'
      redisraft_branch:
        description: 'redisraft git branch or sha to use'
        required: false
        default: 'master'
      redis_repo:
        description: 'redis repo owner and name'
        required: false
        default: 'redis/redis'
      redis_branch:
        description: 'redis git branch or sha to use'
        required: false
        default: 'unstable'
      pytest_args:
        description: 'additional pytest args (e.g. run tests matching a regex n times: -k lua --repeat 3)'
        required: false
        default: ''

jobs:
  tests-with-elle:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'redislabs/redisraft')) && !contains(github.event.inputs.skipjobs, 'elle')
    timeout-minutes: 14400
    steps:
    - name: Set variables
      env:
        DEFAULT_REDIS_REPO: redis/redis
        DEFAULT_REDIS_BRANCH: unstable
        DEFAULT_REDISRAFT_REPO: redislabs/redisraft
        DEFAULT_REDISRAFT_BRANCH: master
      run: |
        echo "REDIS_REPO=${{github.event.inputs.redis_repo || env.DEFAULT_REDIS_REPO}}" >> $GITHUB_ENV
        echo "REDIS_BRANCH=${{github.event.inputs.redis_branch || env.DEFAULT_REDIS_BRANCH}}" >> $GITHUB_ENV
        echo "REDISRAFT_REPO=${{github.event.inputs.redisraft_repo || env.DEFAULT_REDISRAFT_REPO}}" >> $GITHUB_ENV
        echo "REDISRAFT_BRANCH=${{github.event.inputs.redisraft_branch || env.DEFAULT_REDISRAFT_BRANCH}}" >> $GITHUB_ENV
    - uses: actions/checkout@v2
      with:
        repository: ${{ env.REDISRAFT_REPO }}
        ref: ${{ env.REDISRAFT_BRANCH }}
    - name: Install build dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential autoconf automake libtool cmake lcov leiningen default-jdk-headless
    - name: Build
      run: |
        mkdir build && cd build
        cmake .. -DPYTEST_OPTS="--redis-executable=redis/src/redis-server --elle-cli=elle-cli/target/elle-cli-0.1.5-standalone.jar --elle-threads=3 -v ${{github.event.inputs.pytest_args}}"
        make
    - name: Checkout Redis
      uses: actions/checkout@v2
      with:
        repository: ${{ env.REDIS_REPO }}
        ref: ${{ env.REDIS_BRANCH }}
        path: 'redis'
    - name: Build Redis
      run: cd redis && make -j 4
    - name: Checkout elle-cli
      uses: actions/checkout@v2
      with:
        repository: 'ligurio/elle-cli'
        path: 'elle-cli'
        ref: '0.1.5'
    - name: Build elle-cli
      run: cd elle-cli && lein deps && lein uberjar
    - name: Setup Python for testing
      uses: actions/setup-python@v1
      with:
        python-version: '3.9'
        architecture: 'x64'
    - name: Install Python dependencies
      run:
        python -m pip install -r tests/integration/requirements.txt
    - name: Run tests
      run: |
        cd build
        make tests

  test-address-sanitizer:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'redislabs/redisraft')) && !contains(github.event.inputs.skipjobs, 'address')
    timeout-minutes: 14400
    steps:
    - name: Set variables
      env:
        DEFAULT_REDIS_REPO: redis/redis
        DEFAULT_REDIS_BRANCH: unstable
        DEFAULT_REDISRAFT_REPO: redislabs/redisraft
        DEFAULT_REDISRAFT_BRANCH: master
      run: |
        echo "REDIS_REPO=${{github.event.inputs.redis_repo || env.DEFAULT_REDIS_REPO}}" >> $GITHUB_ENV
        echo "REDIS_BRANCH=${{github.event.inputs.redis_branch || env.DEFAULT_REDIS_BRANCH}}" >> $GITHUB_ENV
        echo "REDISRAFT_REPO=${{github.event.inputs.redisraft_repo || env.DEFAULT_REDISRAFT_REPO}}" >> $GITHUB_ENV
        echo "REDISRAFT_BRANCH=${{github.event.inputs.redisraft_branch || env.DEFAULT_REDISRAFT_BRANCH}}" >> $GITHUB_ENV
    - uses: actions/checkout@v2
      with:
        repository: ${{ env.REDISRAFT_REPO }}
        ref: ${{ env.REDISRAFT_BRANCH }}
    - name: Install build dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential autoconf automake libtool cmake lcov
    - name: Build
      run: |
        mkdir build && cd build
        cmake .. -DSANITIZER=address -DPYTEST_OPTS="--redis-executable=redis/src/redis-server -v ${{github.event.inputs.pytest_args}}"
        make
    - name: Checkout Redis
      uses: actions/checkout@v2
      with:
        repository: ${{ env.REDIS_REPO }}
        ref: ${{ env.REDIS_BRANCH }}
        path: 'redis'
    - name: Build Redis
      run: cd redis && make -j 4 SANITIZER=address
    - name: Setup Python for testing
      uses: actions/setup-python@v1
      with:
        python-version: '3.9'
        architecture: 'x64'
    - name: Install Python dependencies
      run:
        python -m pip install -r tests/integration/requirements.txt
    - name: Run tests
      run: |
        cd build
        make tests

  test-undefined-sanitizer:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'redislabs/redisraft')) && !contains(github.event.inputs.skipjobs, 'undefined')
    timeout-minutes: 14400
    steps:
      - name: Set variables
        env:
          DEFAULT_REDIS_REPO: redis/redis
          DEFAULT_REDIS_BRANCH: unstable
          DEFAULT_REDISRAFT_REPO: redislabs/redisraft
          DEFAULT_REDISRAFT_BRANCH: master
        run: |
          echo "REDIS_REPO=${{github.event.inputs.redis_repo || env.DEFAULT_REDIS_REPO}}" >> $GITHUB_ENV
          echo "REDIS_BRANCH=${{github.event.inputs.redis_branch || env.DEFAULT_REDIS_BRANCH}}" >> $GITHUB_ENV
          echo "REDISRAFT_REPO=${{github.event.inputs.redisraft_repo || env.DEFAULT_REDISRAFT_REPO}}" >> $GITHUB_ENV
          echo "REDISRAFT_BRANCH=${{github.event.inputs.redisraft_branch || env.DEFAULT_REDISRAFT_BRANCH}}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        with:
          repository: ${{ env.REDISRAFT_REPO }}
          ref: ${{ env.REDISRAFT_BRANCH }}
      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential autoconf automake libtool cmake lcov
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -DSANITIZER=undefined -DPYTEST_OPTS="--redis-executable=redis/src/redis-server -v ${{github.event.inputs.pytest_args}}"
          make
      - name: Checkout Redis
        uses: actions/checkout@v2
        with:
          repository: ${{ env.REDIS_REPO }}
          ref: ${{ env.REDIS_BRANCH }}
          path: 'redis'
      - name: Build Redis
        run: cd redis && make -j 4 SANITIZER=undefined
      - name: Setup Python for testing
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install Python dependencies
        run:
          python -m pip install -r tests/integration/requirements.txt
      - name: Run tests
        run: |
          cd build
          make tests

  test-macos:
    runs-on: macos-latest
    if: |
      (github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'redislabs/redisraft')) && !contains(github.event.inputs.skipjobs, 'macos')
    timeout-minutes: 14400
    steps:
      - name: Set variables
        env:
          DEFAULT_REDIS_REPO: redis/redis
          DEFAULT_REDIS_BRANCH: unstable
          DEFAULT_REDISRAFT_REPO: redislabs/redisraft
          DEFAULT_REDISRAFT_BRANCH: master
        run: |
          echo "REDIS_REPO=${{github.event.inputs.redis_repo || env.DEFAULT_REDIS_REPO}}" >> $GITHUB_ENV
          echo "REDIS_BRANCH=${{github.event.inputs.redis_branch || env.DEFAULT_REDIS_BRANCH}}" >> $GITHUB_ENV
          echo "REDISRAFT_REPO=${{github.event.inputs.redisraft_repo || env.DEFAULT_REDISRAFT_REPO}}" >> $GITHUB_ENV
          echo "REDISRAFT_BRANCH=${{github.event.inputs.redisraft_branch || env.DEFAULT_REDISRAFT_BRANCH}}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        with:
          repository: ${{ env.REDISRAFT_REPO }}
          ref: ${{ env.REDISRAFT_BRANCH }}
      - name: Install build dependencies
        run: brew install autoconf automake
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -DPYTEST_OPTS="--redis-executable=redis/src/redis-server -v ${{github.event.inputs.pytest_args}}"
          make
      - name: Checkout Redis
        uses: actions/checkout@v2
        with:
          repository: ${{ env.REDIS_REPO }}
          ref: ${{ env.REDIS_BRANCH }}
          path: 'redis'
      - name: Build Redis
        run: cd redis && make -j 4 REDIS_LDFLAGS=-rdynamic
      - name: Setup Python for testing
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install Python dependencies
        run:
          python -m pip install -r tests/integration/requirements.txt
      - name: Run tests
        run: |
          cd build
          make tests

  test-macos-tls-sanitizer-compile:
    runs-on: macos-latest
    if: |
      (github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'redislabs/redisraft')) && 
      !contains(github.event.inputs.skipjobs, 'macos') && !contains(github.event.inputs.skipjobs, 'tls')
    timeout-minutes: 14400
    steps:
      - name: Set variables
        env:
          DEFAULT_REDIS_REPO: redis/redis
          DEFAULT_REDIS_BRANCH: unstable
          DEFAULT_REDISRAFT_REPO: redislabs/redisraft
          DEFAULT_REDISRAFT_BRANCH: master
        run: |
          echo "REDIS_REPO=${{github.event.inputs.redis_repo || env.DEFAULT_REDIS_REPO}}" >> $GITHUB_ENV
          echo "REDIS_BRANCH=${{github.event.inputs.redis_branch || env.DEFAULT_REDIS_BRANCH}}" >> $GITHUB_ENV
          echo "REDISRAFT_REPO=${{github.event.inputs.redisraft_repo || env.DEFAULT_REDISRAFT_REPO}}" >> $GITHUB_ENV
          echo "REDISRAFT_BRANCH=${{github.event.inputs.redisraft_branch || env.DEFAULT_REDISRAFT_BRANCH}}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        with:
          repository: ${{ env.REDISRAFT_REPO }}
          ref: ${{ env.REDISRAFT_BRANCH }}
      - name: Install build dependencies
        run: brew install autoconf automake
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -DSANITIZER=address -DBUILD_TLS=1 -DPYTEST_OPTS="--redis-executable=redis/src/redis-server --tls -v ${{github.event.inputs.pytest_args}}" 
          make
      - name: Checkout Redis
        uses: actions/checkout@v2
        with:
          repository: ${{ env.REDIS_REPO }}
          ref: ${{ env.REDIS_BRANCH }}
          path: 'redis'
      - name: Build Redis
        run: cd redis && make -j 4 SANITIZER=address BUILD_TLS=yes

  test-tls-address-sanitizer:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'redislabs/redisraft')) && !contains(github.event.inputs.skipjobs, 'tls')
    timeout-minutes: 14400
    steps:
      - name: Set variables
        env:
          DEFAULT_REDIS_REPO: redis/redis
          DEFAULT_REDIS_BRANCH: unstable
          DEFAULT_REDISRAFT_REPO: redislabs/redisraft
          DEFAULT_REDISRAFT_BRANCH: master
        run: |
          echo "REDIS_REPO=${{github.event.inputs.redis_repo || env.DEFAULT_REDIS_REPO}}" >> $GITHUB_ENV
          echo "REDIS_BRANCH=${{github.event.inputs.redis_branch || env.DEFAULT_REDIS_BRANCH}}" >> $GITHUB_ENV
          echo "REDISRAFT_REPO=${{github.event.inputs.redisraft_repo || env.DEFAULT_REDISRAFT_REPO}}" >> $GITHUB_ENV
          echo "REDISRAFT_BRANCH=${{github.event.inputs.redisraft_branch || env.DEFAULT_REDISRAFT_BRANCH}}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        with:
          repository: ${{ env.REDISRAFT_REPO }}
          ref: ${{ env.REDISRAFT_BRANCH }}
      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential autoconf automake libtool cmake lcov
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -DSANITIZER=address -DBUILD_TLS=1 -DPYTEST_OPTS="--redis-executable=redis/src/redis-server --tls -v ${{github.event.inputs.pytest_args}}" 
          make
      - name: Checkout Redis
        uses: actions/checkout@v2
        with:
          repository: ${{ env.REDIS_REPO }}
          ref: ${{ env.REDIS_BRANCH }}
          path: 'redis'
      - name: Build Redis
        run: cd redis && make -j 4 SANITIZER=address BUILD_TLS=yes
      - name: Setup Python for testing
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install Python dependencies
        run:
          python -m pip install -r tests/integration/requirements.txt
      - name: Run tests
        run: |
          ./utils/gen-test-certs.sh
          cd build
          make tests

  test-alpine:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'redislabs/redisraft')) && !contains(github.event.inputs.skipjobs, 'alpine')
    container: alpine:latest
    timeout-minutes: 14400
    steps:
      - name: Set variables
        env:
          DEFAULT_REDIS_REPO: redis/redis
          DEFAULT_REDIS_BRANCH: unstable
          DEFAULT_REDISRAFT_REPO: redislabs/redisraft
          DEFAULT_REDISRAFT_BRANCH: master
        run: |
          echo "REDIS_REPO=${{github.event.inputs.redis_repo || env.DEFAULT_REDIS_REPO}}" >> $GITHUB_ENV
          echo "REDIS_BRANCH=${{github.event.inputs.redis_branch || env.DEFAULT_REDIS_BRANCH}}" >> $GITHUB_ENV
          echo "REDISRAFT_REPO=${{github.event.inputs.redisraft_repo || env.DEFAULT_REDISRAFT_REPO}}" >> $GITHUB_ENV
          echo "REDISRAFT_BRANCH=${{github.event.inputs.redisraft_branch || env.DEFAULT_REDISRAFT_BRANCH}}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        with:
          repository: ${{ env.REDISRAFT_REPO }}
          ref: ${{ env.REDISRAFT_BRANCH }}
      - name: Install build dependencies
        run: apk add build-base cmake python3 py3-pip
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -DPYTEST_OPTS="--redis-executable=redis/src/redis-server -v ${{github.event.inputs.pytest_args}}" 
          make -j 4
      - name: Checkout Redis
        uses: actions/checkout@v2
        with:
          repository: ${{ env.REDIS_REPO }}
          ref: ${{ env.REDIS_BRANCH }}
          path: 'redis'
      - name: Build Redis
        run: cd redis && make -j 4
      - name: Install Python dependencies
        run:
          python -m pip install -r tests/integration/requirements.txt
      - name: Run tests
        run: |
          cd build
          make tests

  test-slow:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'redislabs/redisraft')) && !contains(github.event.inputs.skipjobs, 'slow')
    timeout-minutes: 14400
    steps:
      - name: Set variables
        env:
          DEFAULT_REDIS_REPO: redis/redis
          DEFAULT_REDIS_BRANCH: unstable
          DEFAULT_REDISRAFT_REPO: redislabs/redisraft
          DEFAULT_REDISRAFT_BRANCH: master
        run: |
          echo "REDIS_REPO=${{github.event.inputs.redis_repo || env.DEFAULT_REDIS_REPO}}" >> $GITHUB_ENV
          echo "REDIS_BRANCH=${{github.event.inputs.redis_branch || env.DEFAULT_REDIS_BRANCH}}" >> $GITHUB_ENV
          echo "REDISRAFT_REPO=${{github.event.inputs.redisraft_repo || env.DEFAULT_REDISRAFT_REPO}}" >> $GITHUB_ENV
          echo "REDISRAFT_BRANCH=${{github.event.inputs.redisraft_branch || env.DEFAULT_REDISRAFT_BRANCH}}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        with:
          repository: ${{ env.REDISRAFT_REPO }}
          ref: ${{ env.REDISRAFT_BRANCH }}
      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential autoconf automake libtool cmake lcov
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -DPYTEST_OPTS="--redis-executable=redis/src/redis-server -v --runslow ${{github.event.inputs.pytest_args}}"
          make
      - name: Checkout Redis
        uses: actions/checkout@v2
        with:
          repository: ${{ env.REDIS_REPO }}
          ref: ${{ env.REDIS_BRANCH }}
          path: 'redis'
      - name: Build Redis
        run: cd redis && make -j 4
      - name: Setup Python for testing
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install Python dependencies
        run:
          python -m pip install -r tests/integration/requirements.txt
      - name: Run tests
        run: |
          cd build
          make tests
