name: Redis Test Suite

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  redis-suite:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install build dependencies
      run: sudo apt-get install -y build-essential autoconf automake libtool cmake lcov
    - name: Build
      run: make
    - name: Checkout Redis
      uses: actions/checkout@v2
      with:
        repository: 'redis/redis'
        ref: 'unstable'
        path: 'redis'
    - name: Build Redis
      run: cd redis && make
    - name: Install test dependencies
      run: sudo apt-get install -y tcl8.6
    - name: Run tests
      env:
        REDIS_DIR: ${{ github.workspace }}/redis
      run: ./tests/redis-suite/run.sh
